.auth-page {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(33, 147, 176), rgb(109, 213, 237));
  margin-top: 150px;
  padding: 25px 50px;
  border-radius: 20px;

  .btn-reg {
    margin-left: 25px;
  }
}

.validate {
  text-align: center;
}

.input-filed {
  display: flex;
  align-items: center;

  svg{
    font-size: 20px;
    margin: 5px;
    color: white;
  }
}
